<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录/注册</title>
    <style>
        .white {
            color: white;
        }
        
        #logForm {
            position: absolute;
            top: 250px;
            left: 600px;
        }
    </style>
</head>

<body style="background-image: url(/static/images/background/BG1.jpeg);background-size: 100%;">
    <form align="center" class="white" id="logForm" action="\index">
        姓名:<input id="userName" type="text" name="username" value="请输入用户名" maxlength="6">
        <script>
            var uName = document.getElementById('userName');
            uName.onfocus = function() {
                if (this.value == "请输入用户名") this.value = "";
            }
            uName.onblur = function() {
                if (this.value == "") this.value = "请输入用户名";
            }
        </script>
        <br /> 密码:
        <input id="pwd" type="password" name="pwd">
        <p id="viewPwd">查看密码</p>
        <script>
            var pwd = document.getElementById('pwd');
            var viewPwd = document.getElementById('viewPwd');
            var flag = true;
            pwd.onblur = function() {
                if (this.value.length < 6 || this.value.length > 16) {
                    alert("您输入的密码应处于6~16位");
                    pwd.value = "";
                }
            }
            viewPwd.onclick = function() {
                if (flag) {
                    pwd.type = "text";
                    flag = false;
                    this.innerHTML = "隐藏密码";
                } else {
                    pwd.type = "password";
                    flag = true;
                    this.innerHTML = "查看密码";
                }
                //this.className+="change";
            }
        </script>性别:
        <label for="sex1">男</label><input type="radio" name="sex" value="男" checked="checked" id="sex1">
        <label for="sex2">女</label><input type="radio" name="sex" value="女" id="sex2"><br /> 籍贯:
        <select>
                    <option selected="selected">上海市</option><option>北京市</option><option>天津市</option><option>河北省</option><option>山西省</option><option>内蒙古自治区</option><option>辽宁省</option><option>吉林省</option><option>黑龙江省</option><option>江苏省</option><option>浙江省</option><option>安徽省</option><option>福建省</option><option>江西省</option><option>山东省</option><option>河南省</option><option>湖北省</option><option>湖南省</option><option>广东省</option><option>广西壮族自治区</option><option>海南省</option><option>重庆市</option><option>四川省</option><option>贵州省</option><option>云南省</option><option>西藏自治区</option><option>陕西省</option><option>甘肃省</option><option>青海省</option><option>宁夏回族自治区</option><option>新疆维吾尔自治区</option>
                </select><br /> 爱好:
        <label for="hobb1">吃饭</label><input type="checkbox" name="hobby" value="吃饭" checked="checked" id="hobby1">
        <label for="hobby2">睡觉</label><input type="checkbox" name="hobby" value="睡觉" id="hobby2">
        <label for="hobby3">玩手机</label><input type="checkbox" name="hobby" value="玩手机" id="hobby3"><br /> 照片:
        <input type="file"><br /> 自我介绍:
        <textarea rows="3" cols="20">请填写自我介绍</textarea>
        <script>
            var txtarea = document.getElementById('txtarea');
            txtarea.onfocus = function() {
                if (this.value == "请填写自我介绍") this.value = "";
            }
            txtarea.onblur = function() {
                if (this.value == "") this.value = "请填写自我介绍";
            }
        </script><br /> 验证码:
        <input id="code" type="text" name="verfitycode" value="请输入验证码"><input type="button" value="获取验证码"><br />
        <script>
            var code = document.getElementById('code');
            code.onfocus = function() {
                if (this.value == "请输入验证码") this.value = "";
            }
            code.onblur = function() {
                if (this.value == "") this.value = "请输入验证码";
            }
        </script>
        <input type="reset"> &nbsp <input type="submit" href="\index" value="登录"><br />
    </form>
</body>

</html>